<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="./css/ripples.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-material-design.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>



<body>
<div id="fb-root"></div>

<script type="text/javascript" src="./js/facebook.js"></script>

<div class="container top-container">

<!--Indicate Test -->
<div class="container jumbotron">


<!--testing facebook like button-->


<!--------------begin test -->


<!-- end test -->


	<div class="container jumbotron text-center">
		<h1>Your Ideas to Make Dallas Better!</h1>
		<h3>Add yours here:</h3><img src="./images/qr.png"/>

					<div
			  class="fb-like"
			  data-share="true"
			  data-width="450"
			  data-show-faces="true">
			</div>

	</div>

	<div class="container">
		<h1>Educated City Ideas</h1>
		<ul class="postIts jumbotron canaryYellow" id="educated">
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<div class="postItDescription"><p>Idea Description</p></div>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
				<div class="defaultAvatar1 img-circle" style=""></div>
			</li>
			<!--<div class="postItShadow"></div>-->
		</ul>



		<h1>Entrepreneurial City Ideas</h1>
		<ul class="postIts jumbotron greenPostIt" id="entrepreneurial">
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<!--<div class="postItShadow"></div>-->
		</ul>


		<h1>Healthy City Ideas</h1>
		<ul class="postIts jumbotron pinkPostIt" id="healthy">
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<!--<div class="postItShadow"></div>-->
		</ul>


		<h1>Literary City Ideas</h1>
		<ul class="postIts jumbotron redPostIt" id="literary">
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<!--<div class="postItShadow"></div>-->
		</ul>


		<h1>Physical City Ideas</h1>
		<ul class="postIts jumbotron orangePostIt" id="physical">
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<li class="postIt container jumbotron">
				<h3>This is my idea</h3>
				<p>Idea Description</p>
				<span>idea tag 1</span> <span>idea tag 2</span>
				<span>Upvote</span> <span>Downvote</span> <span># of Votes</span>
			</li>
			<!--<div class="postItShadow"></div>-->
		</ul>
	</div>

</div>


	<script src="./js/jquery.js"></script>
	<script src="./js/npm.js"></script>
	<script src="./js/bootstrap.js"></script>
	<script src="./js/material.js"></script>
	<script src="./js/jserialize.js"></script>
	<script src="js.js"></script>
</body>

</html>